
:root {
    --background-dark: #212526;
    --background-light: #FFFFFF;
    --text-white: #FFFFFF;
    --text-dark: #212526;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
html, body {
    height: 100%;
    width: 100%;
    font-family: 'KoHo', sans-serif;
  }

  a {
    text-decoration: none;
  }


  /* NAVBAR */


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-dark);
    padding: 20px;
  }

  .nav-left{
    display: flex;
    align-items: center;
  }

  .nav-left i{
    color: var(--text-white);
    font-size: 56px;
    margin-right: 20px;
  }

  .bot-name-header {
    color: var(--text-white);
    font-weight: 200;
    font-size: 40px;
  }

  .nav-right{
    display: flex;
  }

  .nav-right a{
    color: var(--text-white);
    font-size: 24px;
    margin-left: 20px;
    font-weight: 200;
  }


  /* MAIN BODY */

  .main-container{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background{
    background-image: url("image_index/art-rachen-yJpjLD3c9bU-unsplash.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 70%;
    border-radius: 8px;
    box-shadow: 6px 6px 12px var(--background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trending-coins{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border-radius: 8px;
    background-color: var(--background-light);
    box-shadow: 6px 6px 12px var(--background-dark);
  }

  .top-trend-header{
    font-weight: 200;
    padding: 20px;
  }


  /* FOOTER */

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark);
  padding: 20px;
}

.footer-icons i{
  font-size: 32px;
  color: var(--text-white);
  margin: 20px;
}